:root {
    --main-colour: #0ea5e9;
    --secondary-colour: #e2e8f0;
    --tertiary-colour: #082f49;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans Display', Helvetica, sans-serif;
}

html {
    height: 100vh;
    min-width: 660px;
}

body {
    background-color: var(--secondary-colour);
    height: 100%;
}

a {
    text-decoration: none;
}

a:visited {
    color: white;
}

.container {
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1.5fr;
    grid-template-rows: minmax(1.2fr, 160px) repeat(6, 1fr) 0.25fr;
}

.header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: white;
    grid-column: 2/5;
    padding: 0 20px 10px 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-area: 1/1/2/2;
}

.search-left {
    width: 80%;
    display: flex;
    gap: 20px;
    align-items: center;
}

.search-right {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    gap: 20px;
    align-items: center;
}

.user-icon {
    width: 40px;
    height: auto;
}

.notification,
.search-icon {
    width: 2rem;
    height: auto;
}

input,
.input {
    width: 70%;
    height: 30px;
    border-radius: 15px;
    border: none;
    background-color: var(--secondary-colour);
}

#search-bar:focus {
    border: 2px solid;
    border-color: var(--main-colour);
    outline: none;
}

.header-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-area: 2/1/3/2;
}

.greeting {
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-rows: 1fr 2fr;
    column-gap: 20px;
}

.share-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 20px;
}

.share-buttons>button {
    border: none;
    color: white;
    background-color: var(--main-colour);
    font-size: 1.05rem;
    font-weight: 600;
    width: 100px;
    height: 40px;
    border-radius: 20px;
}

#user-name {
    font-size: 1.3rem;
    font-weight: 600;
}

#user-full {
    font-size: 1.3rem;
    font-weight: 600;
}

.avatar-container {
    grid-area: 1/1/3/2;
}

.avatar {
    width: 60px;
    height: auto;
}

.sidebar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2em 1fr 1fr;
    background-color: var(--main-colour);
    grid-column: 1/2;
    grid-row: 1/9;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 20px;
    gap: 50px;
}

.sidebar .navigation,
.sidebar .site-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sidebar-item {
    display: grid;
    gap: 20px;
    grid-template-columns: 2rem 1fr;
    align-items: center;
}

.sidebar-item.dashboard {
    font-size: 1.8rem;
}

.sidebar-icon {
    width: 2rem;
    height: 2rem;
}

.sidebar-icon.dashboard-link {
    width: 2.5rem;
    height: 2.5rem;
}

.icon-svg-white {
    filter: invert(100%) sepia(0%) saturate(7418%) hue-rotate(317deg) brightness(111%) contrast(124%);
}

.icon-svg-grey {
    filter: invert(18%) sepia(14%) saturate(2264%) hue-rotate(161deg) brightness(98%) contrast(107%);
}

.site-links {
    justify-content: flex-end;
}

.content {
    grid-column: 2/5;
    grid-row: 2/8;
    grid-area: 2/2/8/4;
    display: grid;
    grid-template-rows: 3rem;
    padding: 20px;
}

.section-text {
    font-size: 1.5rem;
    font-weight: 600;
    height: 3rem;
}

.right-side {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-column: 4/5;
    grid-row: 2/8;
}

.announcements {
    display: grid;
    grid-template-rows: 3rem;
    padding: 20px 20px 0 10px;
}

.trending {
    display: grid;
    grid-template-rows: 3rem;
    padding: 20px 20px 20px 10px;
}

.trending-user {
    display: grid;
    grid-template-columns: 40px 1fr;
    gap: 20px;
    font-size: 0.8rem;
    align-items: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25vw, 1fr));
    grid-template-rows: repeat(3, minmax(50px, 1fr));
    place-items: center;
    row-gap: 25px;
    column-gap: 25px;
}

.project-card {
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    font-size: 1rem;
    text-align: center;
    height: 100%;
    background: linear-gradient(90deg, rgba(236,147, 12, 1) 2%, rgba(255,255,255,1) 2%, rgba(255,255,255,1) 2%);
}

.project-buttons {
    display: flex;
    flex-flow: row-reverse;
    gap: 20px;
}
.project-button{
    width: 1.5rem;
    height: auto;
}
.right-card {
    display: grid;
    gap: 10px;
}

.project-card,
.right-card {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
}

.card-title {
    font-size: 1.25rem;
    font-weight: 600;
}

.announcement-post {
    font-size: 0.9rem;
    text-overflow: ellipsis;
    overflow: hidden;
}

.announcement-title {
    font-size: 1rem;
    font-weight: 600;
}

.ann :nth-child(2) {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding: 10px 0 10px 0;
}